html { scroll-behavior: smooth; }

.the_image {
  position: absolute;
  left: 60%;
  top: 0%;
   border-radius: 50%
}

body {
  background-color: black;
  color: rgb(183, 149, 255);
  font-size: large;
}

h3 {
  color: rgb(183, 149, 255);
}
*,
*::before,
*::after {
  transition: all 2s ease-in-out;
}
